body{

background-color: #1f2937;
font-family: roboto;
width: ;
}

.hero{

display: flex;
justify-content: space-around;

}
ul{

display: flex;
list-style-type: none;
gap: 15px;
padding: 12px;

}
#headerlogo{

color: #f9faf8;
font-size: 24px;
padding: 12px;
font-weight: 900;


}
a{
color: #f9faf8;
text-decoration: none;
font-size: 18px;
}

.part1{



}

.midpartof1{

margin: 40px;


}

.dividemidpart1{
  display: flex;
  justify-content: space-evenly;
}

#placeholder1{

margin: 60px;
color: #e5e7eb;
background-color: rgb(79, 79, 79);
width: 500px;
height: 200px;
display: flex;
justify-content: center;
align-items: center;
font-weight:900 ;

}

#heromaintext {

 font-size: 48px;
 color: #f9faf8;
 font-weight: 900;


}

.headerlinktext{

font-size: 18px;
color: #e5e7eb;


}

button{

background-color: #3882f6;
border-radius: 8px;
color: #e5e7eb;
padding: 10px 30px;
font-weight: 900;


}

.part2 {

background-color: #e5e7eb;

height: 500px;

}

#sri {

 padding-top: 15px ;
display: flex;
justify-content: center;
font-size: 40px;
font-weight: 900;
font-family: roboto;

}
.cont {

display: flex;
flex-direction: row;
justify-content: center;
margin-top:100px ;
gap: 120px;

}

.info{

max-width: 150px;
border: 10px blue;

}

.illustration{

height: 150px;
width: 150px;
border: 5px solid #3882f6;
border-radius: 12px;
}


.text{
  margin-top: 5px;
  margin-left:10px;
  font-size: 18px;
color: #8e929b;

}

/* <!-- starting the third part of webpage which incldes quote section --> */

.quote-box {
margin: 0;
height: 400px;
background-color: #b7b9be;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.qtext{

font-size: 38px;
color: #1f2937;
font-style: italic;
padding-bottom:15px ;

}
.author{

font-weight: 900;
color: #1f2937;
font-size: 28px;
align-self: flex-end;
padding-right: 150px;
padding-bottom: 100px;

} 
/* done with third part of the webpage */